{% extends "layout.html" %}

{% block title %}
    About Ian
{% endblock %}

{% block main %}

    <div class="header">
      <img class="head_photo" src="static/Ian.png">

      <div class="header_column">
        <p class="name">Yi-Han Ke</p>
        <p class="work">HTC VIVE Software Engineer</p>

        <a class="linkPhoto" href="mailto:ftn8205@gmail.com"><img src="static/mail_logo.png" height="45px"></a>

          <a class="linkPhoto" href="https://github.com/ftn8205"><img src="static/github_logo.png" height="45px"></a>

          <a class="linkPhoto" href="https://www.linkedin.com/in/yi-han-ke-a0ba1b129/"><img src="static/linkedIn_logo.png" height="45px"></a>

      </div>
    </div>

    <div class="timeline-small">
      <h2>Experience</h2>
    <div class="timeline-small-body">
        <ul>
            <li>
                <div class="ball"></div>
                <div class="timeline-figure">
                  <img src="static/HTCVIVE_logo.png" height="85px">
                </div>
                <div class="desc">
                    <h3>HTC VIVE, DEC 2017 ~ Present</h3>
                    <h4>Backend Engineer</h4>
                </div>
            </li>
            <li>
                <div class="ball"></div>
                <div class="timeline-figure">
                  <img src="static/NTHU_logo.png" height="85px">
                </div>

                <div class="desc">
                    <h3>National Tsing Hua University, SEP 2015 ~ OCT 2017</h3>
                    <h4>M.S. in Communication Engineering</h4>
                </div>
            </li>
            <li>
                <div class="ball"></div>
                <div class="timeline-figure">
                  <img src="static/CCU_logo.png" height="85px">
                </div>
                <div class="desc">
                    <h3>National Chung Cheng University, SEP 2011 ~ JUN 2015</h3>
                    <h4>B.S. in Communication Engineering</h4>
                </div>
            </li>
        </ul>
    </div>
</div>

  <div class="footer">
        <a class="topButtonAction" href="#top">BACK TO TOP</a>
  </div>
{% endblock %}